.loader{
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid black;
   border-radius: 50px;
   background: rgba(255, 255, 255, 0.3);
   overflow: auto;
   padding: 20px;
}

.loader img{
   width: 150px;
}