
.profile__myPosts{
   padding: 50px;
   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 2;
   grid-column-end: 3;
   border: 2px solid black;
   border-radius: 50px;
   background: rgba(255, 255, 255, 0.3);
   overflow: auto;
}