.wrapper, .initialize{
  height: 100vh;
  display: grid;
  background: url(https://avatanplus.com/files/resources/original/56e53fc1cb5cb1536f810d29.jpg) center/cover;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 100px 1fr 50px;
  gap: 10px;
  grid-template-areas: 
  "header header"
  "side-bar profile"
  "footer footer";
}
.initialize{
  grid-area: profile;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://avatanplus.com/files/resources/original/56e53fc1cb5cb1536f810d29.jpg) center/cover;

}

a{
  color: inherit;
}

a:visited{
  color: inherit;
}

*::-webkit-scrollbar { width: 0; }
* { -ms-overflow-style: none; }
* { overflow: -moz-scrollbars-none; }