.wrapper{
  height: 100vh;
  display: grid;
  background: gray;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 100px 1fr 50px;
  gap: 10px;
  grid-template-areas: 
  "header header"
  "side-bar profile"
  "footer footer";
}